<template name="item">
		<div class="block">
			<a href="{{urlFor 'itemPage'}}">
					<p class="item-name pull-left">{{trimString name 16}}</p>
			</a>
			<div class="clearfix">
			<p id="price" class="item-name pull-right">${{price}}</p>
			</div>
			<a href="{{urlFor 'itemPage'}}">
				<img src="{{photo}}" class="img-responsive" style="width:auto; height: 100px" class="img-rounded">
			</a>
		</div>
</template>

<template name="itemDetail">
	<div class="container">
	<div class="alert alert-success alert-dismissable" id="success-message" style="display:none">
  		<button type="button" id="geo-success" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  		<strong><i class="glyphicon glyphicon-ok"></i> Bid received! Thanks!</strong>
	</div>
	<div class="col-md-6">
	<div class="card">
	<h1>{{name}}</h1>
		<div class="thumbnail pull-left">
			<a href="{{photo_zero}}" data-lightbox="item">
				<img src="{{photo_zero}}" class="img-responsive image-rounded" style="width:250; height: auto">
			</a>
		</div>
		<div class="clearfix"></div>
		<div class="row">
		{{#if photo_one}}
			<div class="col-xs-4 col-md-3">
				<a href="{{photo_one}}" data-lightbox="item" class="thumbnail">
					<img src="{{photo_one}}" class="img-responsive" style="width:60; height:auto; max-height: 80px">
				</a>
			</div>
		{{/if}}
		{{#if photo_two}}
			<div class="col-xs-4 col-md-3">
				<a href="{{photo_two}}" data-lightbox="item" class="thumbnail">
					<img src="{{photo_two}}" class="img-responsive" style="width:60; height:auto; max-height: 80px">
				</a>
			</div>
		{{/if}}
		</div>
		{{#isolate}}
		<p class="tiny-text">{{expiration}}</p>
		{{/isolate}}
		<p>
			{{#if currentUser}}
			{{#if ownItem}}
				<a class="btn btn-warning" href="{{urlFor 'itemEdit' this}}">Edit
				<i class="glyphicon glyphicon-pencil"></i>
				</a>
			{{/if}}
			{{/if}}
		</p>
	</div>
	</div>
	<div class="col-md-6">
		<div class="card">
		<h3 id="price">${{price}}</h3>
		<p>{{trimString description 345}}</p>
		{{#if notOwnItem}}
		<form role="form">
		<div class="form-group">
	         	<input type="number" name="bid" class="form-control" placeholder="Enter a bid" id="name"/>
	    </div>
	    <div class="clearfix"></div>
	    <button class="btn btn-primary" data-toggle="modal" data-target="#bidModal">
	    	Place bid
	    </button>

	    <div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    	<div class="modal-dialog">
	    		<div class="modal-content">
	    			<div class="modal-header">
	    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    				<h4 class="modal-title" id="myModalLabel">Submit a bid for "{{name}}"</h4>
	    			</div>
	    			<div class="modal-body">
	    			...
	    			</div>
	    			<div class="modal-footer">
	    				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Place Bid</button>
					</div>
				</div>
			</div>
		</div>
		</form>
		{{/if}}
		</div>
		<div class="card">
		<p>{{formatted_address}}</p>
		{{> map}}
		</div>
	</div>
	</div>
</template>

<template name="itemSummary">
	<div class="card">
		<a href="{{urlFor 'itemPage'}}">
					<p class="item-name pull-left">{{trimString name 16}}</p>
			</a>
			<div class="clearfix">
			<p id="price" class="item-name pull-right">${{price}}</p>
			</div>
		<a href="{{urlFor 'itemPage'}}">
			<img src="{{photo}}" class="img-responsive" style="width:100; height:auto" class="img-rounded">
		</a>
	</div>
</template>
