<template name="itemSubmit">
<div class="container list-form-container">
<div class="alert alert-success alert-dismissable" id="success-message" style="display:none">
  <button type="button" id="geo-success" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><i class="glyphicon glyphicon-ok"></i> Location found! Thanks!</strong>
</div>
	<form role="form">
	   <div class="form-group">
	    	<div class="form-group col-md-5">
	        	<label for="name">Item Name</label>
	         		<input type="text" name="name" class="form-control" placeholder="What are you selling?" id="name">
	         	<br>
	         	<label for="name">Reserve Price</label>
	         		<div class="input-group">
	         			<span class="input-group-addon">$</span>
	         			<input name="reserve_price" class="form-control" placeholder="What's your minimum price?" id="reserve_price">
	         		</div>
	         	<br>
	         	<label for="name">Zip Code</label>
	         		<input name="zip_code" class="form-control" placeholder="Let people nearby find your item" id="zip_code">
	         	<br>
	         	<label>Geolocation</label>
	         	<p style="font-size: 16px;">Select 'Add location' to allow potential buyers to find your item more easily.</p>
	         	<button id="geolocation" class="btn btn-lg btn-default">
	         	<i class="glyphicon glyphicon-map-marker"></i> Add location</button>
			</div>
	      	</div>
	      	<div class="form-group col-md-6 col-md-offset-1">
	      	<label>Auction duration 
	         	<i class="glyphicon glyphicon-time"></i>
	         	</label>
	         	<br>
	         	<div class="form-group btn-group" name="group" data-toggle="buttons">
  				<label for="date" class="btn btn-default">
    				<input type="radio" value="3 hours" id="hours" name="exp_date"> 3 hours
  				</label>
  				<label class="btn btn-default">
    				<input type="radio" value="1 day" id="day" name="exp_date"> 1 day
  				</label>
  				<label class="btn btn-default">
    				<input type="radio" value="4 days" id="days" name="exp_date"> 4 days
  				</label>
  				<label class="btn btn-default">
    				<input type="radio" value="7 days" id="week" name="exp_date"> 7 days
  				</label>
  				<br>
  				</div>
  				<br>
  				<label>Add up to three photos</label>
  				<br>
				<button id="upload" class="btn btn-lg btn-default">
				<i class="glyphicon glyphicon-camera"></i> Upload pictures
				</button>
				<br>
				<label for="description">Description</label>
					<textarea name="description" class="form-control" type="text" rows="6" id="description" placeholder="The details..."></textarea>
				<br>
				<button type="submit" class="btn btn-lg btn-primary">Finish and Submit</button>
		</div>
	</form>
	<div class="img-responsive" id="image-preview"></div>
</div>
</template>