<template name="header">
	<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" style="margin-top: 17px;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand" style="color: white; font-size: 18px" href="/"><img src="/logo.png" height="40" width="auto"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					{{#if currentUser}}
					<li>
						<a href="{{urlFor 'userProfile'}}"><p style="font-size: 16px; color: white; margin-top: 13px; margin-right: 20px">My Profile <i class="glyphicon glyphicon-user"></i></p>
						</a>
					</li>
					<li>
						<a href="{{urlFor 'itemSubmit'}}"><p style="font-size: 16px; color: white; margin-top: 13px; margin-right: 20px">List an Item <i class="glyphicon glyphicon-tag"></i></p>
						</a>
					</li>
					{{/if}}
					<!--<button class="btn btn-lg btn-outline">Sign in / Sign up</button>-->
					<li style="margin-top: 13px;">{{loginButtons}}</li>
				</ul>
			</div>
	</nav>
</template>