<template name="header">
	<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" style="margin-top: 17px;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand" href="/"><img src="/logo.png" height="32" width="auto"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					{{#if currentUser}}
					<li>
						<a href="{{urlFor 'userProfile'}}">Dashboard <i class="glyphicon glyphicon-dashboard"></i>
						</a>
					</li>
					<li>
						<a href="{{urlFor 'itemSubmit'}}">List an Item <i class="glyphicon glyphicon-tag"></i>
						</a>
					</li>
					<li><a href="/sign-out">Sign out <i class="glyphicon glyphicon-user"></i></a></li>
					{{else}}
					<!--<button class="btn btn-lg btn-outline">Sign in / Sign up</button>-->
					<li><a href="/sign-in">Sign in <i class="glyphicon glyphicon-user"></i></a></li>
					{{/if}}
				</ul>
			</div>
	</nav>
</template>