.block {
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map-canvas {
 	width: 400px;
 	height: 400px;
 	width: 100%;
}

.card {
	padding:1.5rem;
  	box-shadow:0px 2px 1px rgba(0, 0, 0, 0.098);
	border:none;
  	background:white;
  	margin:0 1rem 1rem;
  	border-radius:3px;
	position: relative;
	background: #fff;
	padding: 20px;
	width: 100%;
}

.photo-well {
	margin-top: 10px;
	background: #B2B3B6;
	padding: 10px;
	border-radius: 3px;
}

#price {
	color:#50bf82;
}

h1 {
  font-size:2.4rem;
  font-weight:200;
}

p {
	font-size:1.8rem;
  	font-weight:200;
}


.tiny-text {
  font-size:1.4rem;
  line-height:3.5;
  color:gray;
  font-weight:400;
}

h3 {
	font-weight:400;
}

strong {
    font-weight:300;
    color:#539D00;
}

.searchbox {
	background: #FFF;
	position: relative;
	height: 40px;
	border:none;
	box-shadow:0px 3px 2px rgba(0, 0, 0, 0.098);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.white, .white a {
	color: #fff;
}

.list-form-container {
	background: #fff;
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.098);
	border-radius: 1px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.1);
}

.search-button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	height: 40px;
	width: 75px;
	box-shadow:0px 3px 2px rgba(0, 0, 0, 0.098);
	background: #4285f4;
	background: -webkit-linear-gradient(top,#419AE8, #419AE8);
}

.navbar {
	border-radius: 0px;
}


.item-name {
  	color: black;
}

body {
	background:#ECEEF3; 
}

.block {
  	box-shadow:0px 2px 1px rgba(0, 0, 0, 0.098);
	border:none;
  	background:white;
  	margin:0 1rem 1rem;
  	border-radius:3px;
	position: absolute;
	background: #fff;
	padding: 20px;
	width: 300px;
}

.list-container {
	position: relative;
	top: -10px;
}