.block {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	font-family: "Arial", serif;
	font-size: 14px;
	background-color: #F6F6F6;
}

.block {
	position: absolute;
	background: #fff;
	padding: 20px;
	width: 300px;
	border: 1px solid #ddd;
}

.list-container {
	position: relative;
	top: -20px;
}