<template name="userProfile">
	<div class="container">
	<div>
		<h2>Dashboard</h2>
	</div>
	<div class="col-sm-6">
		<div class="well">
			<h3 class="pull-left">My listings</h3>
			<div class="clearfix">
			<h3 class="pull-right">{{itemTotal}} total</h3>
			</div>
		</div>
		{{#each ownItems}}
			{{> itemSummary}}
		{{/each}}
	</div>
	<div class="col-sm-6">
		<div class="well">
			<h3 class="pull-left">My bids</h3>
			<div class="clearfix">
			<h3 class="pull-right">{{bidTotal}} total</h3>
			</div>
		</div>
		{{#each ownBids}}
			{{> bid}}
		{{/each}}
		</div>
	</div>
	</div>
</template>