<template name="userProfile">
	<div class="container">
	<div>
		<h2>Dashboard</h2>
	</div>
	<div class="col-sm-6">
		<div class="well">
			<h3 class="pull-left">My listings</h3>
			<div class="clearfix">
			<h3 class="pull-right">{{itemTotal}} total</h3>
			</div>
		</div>
		{{#if itemTotal}}
			{{#each ownItems}}
				{{> itemSummary}}
			{{/each}}
		{{else}}
		<div class="well">
			<p><a href="/submit">Try listing and item today!</a></p>
		</div>
		{{/if}}
	</div>
	<div class="col-sm-6">
		<div class="well">
			<h3 class="pull-left">My bids</h3>
			<div class="clearfix">
			<h3 class="pull-right">{{bidTotal}} total</h3>
			</div>
		</div>
		{{#if bidTotal}}
			{{#each ownBids}}
				{{> bid}}
			{{/each}}
		{{else}}
		<div class="well">
			<p><a href="/">Find something that strikes your fancy.</a></p>
		</div>
		{{/if}}
		</div>
	</div>
	</div>
</template>